<footer id="footer">
    <hr>
    <div class="row">
      <div class="col-lg-4">
           <div class="card" style="width: 10rem; border-color: transparent;">
                 <div class="card-title">
                          <p> About </p>
                 </div>
           </div>
      </div>
   <div class="col-lg-4">
       <div class="card" style="width: 10rem; border-color: transparent;">
                 <div class="card-title">
                      <p> Community </p> <br>
                      <a href=""></a>
                 </div>
       </div>
  </div>

     <div class="col-lg-4">
           <div class="card" style="width: 10rem; border-color: transparent;">
                 <div class="card-title">
                          <p> Useful Links </p>
                 </div>
           </div>
      </div>
   </div>
</footer>
